

<div class="container-fluid search-results">
  <div class="row">

    <div class = "birdber col-md-2 hidden-sm hidden-xs">
        <%= cl_image_tag "kardashatoo_uijlti", height:350, crop:"scale" %>
    </div>
    <div class="search col-md-8">
      <div class="container text-center search-input">
        <%= form_tag "/users/search", :method => 'get' do %>
            <p>
              <%= text_field_tag :q, params[:q] %>
              <%= submit_tag "Search", :name => nil   %>
            </p>
        <% end %>

        <div class="list-group">

          <div class="container">

            <table class="table">
              <thead>
                <tr>
                  <th>Avatar</th>
                  <th>First Name</th>
                  <th>Handle</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr class='clickable-row' data-href=<%= user_path(user) %>>
  <%#= link_to user_path(user),  class: "list-group-item ", id: "list_results" %>
                    <% if user.picture_url.nil? %>
                      <% @photo = "http://placehold.it/50/50" %>
                      <td><%= image_tag @photo %> </td>
                    <% else %>
                      <% @photo = user.picture_url %>
                      <td><%= image_tag @photo %> </td>
                    <% end %>

                      <td><%=  user.first_name %></td>
                      <td>@<%= user.get_username %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="kardashatoo_invert col-md-2 hidden-sm hidden-xs">
        <%= cl_image_tag "kardashatoo_uijlti", height:350, crop:"scale" %>
    </div>

  </div>
</div>


<% content_for :after_js do %>

<script>

  $(document).ready(function() {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
<% end %>



