<div><div class = "birdber hidden-sm hidden-xs">
    <%= cl_image_tag "birdber", height:300, crop:"scale" %>
  </div>

  <div class="rownaldo hidden-sm hidden-xs">
    <%= cl_image_tag "rownaldo-flipped_fxulq0", height:300, crop:"scale" %>
  </div>
</div>

<% if user_signed_in? %>
  <% avatar_url = user_avatar(current_user) %>
<% end %>

<div class="play-game__wrapper wrapper">
  <div class="play-game__card col-xs-12 col-md-6 col-md-offset-3">
    <div class="play-game-card__user col-xs-12">
      <div class="play-game-card-user__picture col-xs-12 col-md-2">
        <% if user_signed_in? %>
        <%= cl_image_tag avatar_url, class: "avatar" %>
        <% else %>
        <%= cl_image_tag "ty2LLr9m_zvi9e5", class: "avatar" %>
        <% end %>
      </div>
      <div class="play-game-card-user__details hidden-sm hidden-xs col-md-10">
        <% if user_signed_in? %>
          <p>@<%= @round.user.handle %></p>
        <% else %>
          <p>@guest</p>
        <% end %>
        <span style="text-align:right">
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.hearsaythegame.com&layout=button&size=small&mobile_iframe=true&appId=1906436862939929&width=59&height=20" width="74" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="I just won <%= @round.score %> fame points at HearSay - The Game. How much can you get?" data-url="http://www.hearsaythegame.com" data-hashtags="WhoSaidWhatNow" data-show-count="false"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </span>
      </div>
    </div>
    <div class="play-game-card__tweet col-xs-12">
      <div class="play-game-card-tweet__bird col-md-2 hidden-sm hidden-xs">
        <%= image_tag "grayer_photo.png", class: "grayer" %>
      </div>
      <div class="play-game-card-tweet__message col-xs-12 col-md-10">
        <% if @round.correct_count > 5 %>
          <h3><%= (["A star is born. Leaderboard. Now.", "Wow. You are a natural kiddo.", "Yass Queen!", "Have you done this before?", "You love the smell of Twitter in the morning.", "My mama always said life was like a box of tweets.", "May the tweets be with you.", "The stuff that dreams are made of.", "You're the king of the world.", "You made Twitter great again.", "Play me baby one more time.", "Ignore all of the haters and losers. You did great!", "Your milkshake brings all the boys to the yard.", "You have nothing to regret with a job well done.", "That was one of the best rounds of all time, ALL TIME!", "Yippee Ki Yay!", "That's hot.", "Loves it.", "Gettin' jiggy wit it!", "You made that round famous!", "One tweet to rule them all.", "I believe you can fly.", "Swipe right.", "You're ready to fly solo.", "What's a nice girl like you doing in a game like this?", "Clever girl.", "If a celebrity tweets in the woods, does anyone hear it?", "Get Rich or Die Tweeting."]).sample %></h3>
          <% else %>
          <h3><%= (["Play it again Sam.", "Show business isn't easy kid", "Go home. You're drunk.", "Respawn", "You can do better. I know you can.", "Don't be scared. Fear leads to the non-famous side.", "Delete your account.", "YOU CAN'T HANDLE THE TWEETS!", "You could've been a contender. You could've been somebody.", "I bet your avatar is one of those racist frogs.", "The Lannisters send their regards.", "Nothing worth having comes easy.", "Oops. You did it again.", "Failure is when you stop trying.", "Cry me a river.", "There's vomit on your sweater already, mom's spaghetti.", "Do you ever feel like a plastic bag?", "Keep your face towards the sunshine - and shadows will fall behind you.", "Nothing is impossible. The word itself says, 'I`m possible.'", "This shit is bananas, b-a-n-a-n-a-s", "Your birth certificate is a fraud.", "What is this? Amateur hour?", "At least you won the popular vote.", "You probably listen to Nickelback.", "Despite your negative round covfefe.", "Dracarys.", "Raaawr! That's a gotcha.", "You can do anything. I started life as a physical egg.", "Swipe left.", "Don't worry. I'll take you under my wing.", "You're a parroty of your former self.", "Have you had your Thetan levels measured lately?"]).sample %></h3>
        <% end %>
      </div>
    </div>
    <div class="play-game-card__footer col-xs-12">
      <div class="play-game-card-footer__links col-xs-7">
        <%= link_to "<i class='fa fa-trophy' aria-hidden='true'></i>".html_safe, pages_leaderboard_path %>
        <% if user_signed_in? %>
        <%= link_to "<i class='fa fa-user' aria-hidden='true'></i>".html_safe, user_path(current_user) %>
        <% end %>
          <%= link_to " <strong>Play again</strong>".html_safe , rounds_path() , :method=> :post, class:"navbar-wagon-item btn btn-homepage right-navigation-link" %>
      </div>
      <div class="play-game-card-footer__score col-xs-5">
        <div class="col-xs-12">
          <p class="odometer">00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -->

  <% content_for(:after_js) do %>

  <script>

  $(document).ready(function () {


    var score = "<%= @round.score %>";
    console.log(score);

  setTimeout(function(){
    $('p.odometer').text(score);

  }, 500);

  });


  </script>

  <% end %>





