
<% rqst = @round.round_questions.where(answered: false).first%>


<div class="col-xs-1 col-md-3 col-lg-2 hidden-xs" id="bar-column">
	<div id="myProgress">
		<div id="myBar">
		</div>
	</div>
</div>



<div class="jumbotron col-xs-11 col-md-6 col-lg-8">
	<div class="hidden-sm hidden-md hidden-lg small-score">
		<p class="", id="score"><%= @round.score %></p>
		<p id="round-score">
		</p>
	</div>
	<div class="question">
		<div style="display:flex">
			<%= image_tag "grayer_photo.png", class: "grayer" %>
			<div style = "margin-left:20px" class="hidden-xs">
				<h4>HearSay</h4>
				<h4>@WhoSaidWhatNow</h4>
			</div>
		</div>
		<h3 class="hidden-xs">
			<%= rqst.question.content %>
		</h3>
		<h6 class="hidden-sm hidden-md hidden-lg"><%= rqst.question.content %></h6>

	</div>

	<div class="answer_wrapper">
		<div class="row">
			<% @answers[0,4].each do |answer| %>
				<div class="col-xs-12 col-lg-6">
					<%= link_to check_answer_round_path(@round, answer_id: answer.id), remote: true, class: 'btn btn-answer answer' do %>
						<div style="display:flex">
							<%= image_tag answer.picture_url, class: "answer-picture" %>
							<div style = "margin-left:20px">
								<strong class="answer-name"><%= answer.name %></strong>
								<br />
								<%= answer.handle %>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
			<div class="next-question">
				<div class="col-xs-12 col-lg-12">
					<%= link_to "next question <i class='fa fa-arrow-right' aria-hidden='true'></i>".html_safe , round_path(@round) , :method=> :put, class: 'btn btn-answer', id: 'next-question' %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class=" col-xs-12 col-md-3 col-lg-2 hidden-xs">
	<span class="speech-bubble">
		<p class="text-center", id="score"><%= @round.score %></p>
	</span>
</div>

<div class="hidden-xs" id="round-score">

</div>

<% content_for :after_js do %>
	<script>
	$(document).ready(function() {
		var jumbo = $(".jumbotron");
		var progress = $("#myProgress");
		var myBar = $("#myBar");
		var barHeight = jumbo.outerHeight();
		var barOffset = jumbo.offset().top;
		progress.width(barHeight);
		myBar.width(barHeight);
		$("#myProgress").offset({top:120});
		var elem = document.getElementById("myBar");
	  	var width = 100;
	  	var id = setInterval(frame, 100);
	  	var stopBar = false;
	  	var updateBar = function() {
	  		width--;
	      	elem.style.width = width + '%';
		      	if (width <= 10) {
		      		$("#round-score").text(10);
		    	} else {
		      		$("#round-score").text(width);
		      	}
	    	};
	  	$(".btn-answer").click(function() {
	  		stopBar = true;

			Cookies.set('time', $("#round-score").text(), { expires: 7, path: '' });
	  	});
	  	function frame() {
	    	if (width <= 0) {
	    	} else {
	    		if (!stopBar) {
	    			updateBar();
	    		}
	    	}
	  	};
    });
	</script>
<% end %>

