<div class="container">
  <div class="row" id="twitter-bar">
    <div class="bar-avatar">
      <%= cl_image_tag user_avatar(current_user), width: 150, height: 150, crop: :fill %>
    </div>
    <div class="profile-tabs">
      <div class="tab-box active">
        <a class="profile tab active" data-target="#fame">
          <p class="button-word">Fame</p>
          <p class="tab-number">1,567</p>
        </a>
      </div>
      <div class="tab-box">
        <a class="profile tab" data-target="#following">
          <p class="button-word">Following</p>
          <p class="tab-number">256</p>
        </a>
      </div>
      <div class="tab-box">
        <a class="profile tab" data-target="#followers">
          <p class="button-word">Followers</p>
          <p class="tab-number">2,637</p>
        </a>
      </div>
      <a href="#" class="follow-btn">Follow</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default info add-top-margin">
        <div class="panel-body">
          <div class="row">
            <h3 id="profile"><%= @user.first_name %> <%= @user.last_name %></h3>
            <p class="small-font">@<%= @user.handle %></p>
          </div>
          <div class="row small-font" id="bio">
            <p><%= @user.bio %></p>
          </div>
          <div class="row small-font">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.location %></p>
          </div>
          <div class="row small-font">
            <p><i class="fa fa-link" aria-hidden="true"></i> <%= @user.twitter %></p>
          </div>
          <div class="row small-font">
            <p><i class="icon-calendar"></i> Joined <%= @user.created_at.strftime("%B %Y") %></p>
          </div>
          <div class="row small-font">
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= link_to 'Edit Profile', edit_user_registration_path %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 ">
      <div class="tab-content active" id="fame">
        <div class="row">
          <div class="col-sm-12">
            <div class="score-panel add-top-margin">
              <div class="row">
                <div class="col-xs-2">
                  <img alt="avatar" class="small-avatar" src="https://image.flaticon.com/icons/png/512/78/78373.png">
                </div>
                <div class="col-xs-8">
                  <h4 class="card-inline scorecard-name">Name</h4>
                  <p class="small-font card-inline">@Handle</p>
                  <br />
                  <p class="card-inline"><i class="fa fa-bar-chart" aria-hidden="true"></i> 87</p>
                  <p class="card-inline"> <i class="fa fa-check-square-o" aria-hidden="true"></i> 6/10</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content hidden" id="following">
        <div class="container">
          <div class="cards">
            <div class="card">
              <div class="card-body">
                <div class="card-avatar">
                  <img src="https://pbs.twimg.com/media/C8TLA5aWsAEbNUg.jpg" class="small-avatar">
                </div>
              </div>

              <div class="card-footer">
                <div class="card-info">
                  <p class="card-name">Name</p>
                  <p class="small-font">@Handle</p>
                </div>
                <div class="card-follow">
                  <a href="#" class="btn btn-primary follow-btn">Follow</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content hidden" id="followers">
        <div class="container">
          <div class="cards">
            <div class="card add-top-margin">
              <div class="card-body">
                <div class="card-avatar">
                  <img src="https://pbs.twimg.com/media/C8TLA5aWsAEbNUg.jpg" class="small-avatar">
                </div>
              </div>

              <div class="card-footer">
                <div class="card-info">
                  <p class="card-name">Name</p>
                  <p class="small-font">@Handle</p>
                </div>
                <div class="card-follow">
                  <a href="#" class="btn btn-primary follow-btn">Follow</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
