<div class="navbar-wagon">

 <% if user_signed_in? %>

  <div class ="left-navigation">
        <div class ="left-navigation-links">
            <span class ="fa fa-home"><%= link_to "Home", root_path, class: "navbar-wagon-item navbar-hearsay-link" %>
            </span></a>
        </div>
        <div class="left-navigation-links">
            <span class ="fa fa-user"><%= link_to "Profile", user_path(current_user), class: "navbar-wagon-item navbar-hearsay-link" %>
        </div>
        <div class="left-navigation-links">
            <span class ="fa fa-trophy"><%= link_to "Leaderboard", pages_leaderboard_path, class: "navbar-wagon-item navbar-hearsay-link" %>
        </div>

      </div>

    <% end %>

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-hearsay-brand" do %>
    <%= cl_image_tag "SayerNavbar_z6ayp4.png" %>
  <% end %>

  <div class="right-navigation">

     <%= link_to "New Game" , rounds_path() , :method=> :post, class:"navbar-wagon-item btn btn-homepage right-navigation-link" %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <% if user_signed_in? %>

        <!-- Links when logged in -->


        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item right-navigation-link">
            <% avatar_url = current_user.picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
                <%= link_to destroy_user_session_path, method: :delete, class: "right-navigation-link" do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
        </div>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  </div>

