<div class="banner aviary-banner" style="background-image: url(<%=image_path('aviary_background.jpg')%>">
  <div class="row">
    <div class="aviary-title-div">
      <%= image_tag('aviary.png', class: 'aviary-title') %>
    </div>
  </div>
  <% perfect_round = false %>
  <% zero_round = false %>
  <% game_count = 0 %>
  <% current_user.rounds.each do |r| %>
    <% if r.correct_count == 10 %>
      <% perfect_round = true %>
    <% end %>
    <% if r.correct_count == 0 %>
      <% zero_round = true %>
    <% end %>
    <% game_count += 1 %>
  <% end %>
  <div class="container-fluid aviary-container">

    <div class="aviary-card">
      <% if game_count >= 1 %>
        <div class="aviary-card-body">
          <%= image_tag('hulkparrogan.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if game_count >= 1 %>
            <div class="ribbon left-ribbon">
              <strong class="ribbon-content"><p><b>Hulk Parrotgan</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Play 1 Game</p>
            <p class="aviary-achieve"><i>"Congrats on your first game brother!"</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Play 1 Game</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if game_count >= 10 %>
        <div class="aviary-card-body">
          <%= image_tag('chickianoronaldo.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if game_count >= 10 %>
            <div class="ribbon left-ribbon">
              <strong class="ribbon-content"><p><b>Chickiano Ronaldo</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Play 10 Games</p>
            <p class="aviary-achieve"><i>"Train harder."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Play 10 Games</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if game_count >= 25 %>
        <div class="aviary-card-body">
          <%= image_tag('godfeather.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if game_count >= 25 %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>The Godfeather</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Play 25 Games</p>
            <p class="aviary-achieve"><i>"I'm gonna make him an offer he can't retweet."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Play 25 Games</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if zero_round == true %>
        <div class="aviary-card-body">
          <%= image_tag('trumper.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if zero_round == true %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Donald Jay Trump</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">0/10 Round</p>
            <p class="aviary-achieve"><i>"Blame it on crooked Hillary and the dems!"</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">0/10 Round</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if perfect_round == true %>
        <div class="aviary-card-body">
          <%= image_tag('swanyewest.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if perfect_round == true %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Swanye West</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">10/10 Round</p>
            <p class="aviary-achieve"><i>"Best round of all time! ALL TIME!"</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">10/10 Round</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.player_score >= 2000 %>
        <div class="aviary-card-body">
          <%= image_tag('nicolasbirdcage.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.player_score >= 2000 %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Nicolas Birdcage</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">2000 Fame Score</p>
            <p class="aviary-achieve"><i>"Put... the parrot... back... in the box."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">2000 Fame Score</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.player_score >= 5000 %>
        <div class="aviary-card-body">
          <%= image_tag('parrotshilton.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.player_score >= 5000 %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Parrots Hilton</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">5000 Fame Score</p>
            <p class="aviary-achieve"><i>"That's hot."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">5000 Fame Score</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.player_score >= 10000 %>
        <div class="aviary-card-body">
          <%= image_tag('kardashatoo.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.player_score >= 10000 %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Kim Kardashatoo</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">10000 Fame Score</p>
            <p class="aviary-achieve"><i>"Your score broke the internet!"</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">10000 Fame Score</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.followers.count >= 1 %>
        <div class="aviary-card-body">
          <%= image_tag('justinbiebird.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.followers.count >= 1 %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Justin Biebird</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Have 1 Follower</p>
            <p class="aviary-achieve"><i>"My mama don't tweet you, and she tweets everyone."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Have 1 Follower</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.followers.count >= 5 %>
        <div class="aviary-card-body">
          <%= image_tag('birdneyspears.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.followers.count >= 5 %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Birdney Spears</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Have 5 Followers</p>
            <p class="aviary-achieve"><i>"It's Birdney, Bitch!"</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Have 5 Followers</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.followers.count >= 20 %>
        <div class="aviary-card-body">
          <%= image_tag('markzuckerbird.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.followers.count >= 20 %>
            <div class="ribbon left-ribbon">
              <strong class="ribbon-content"><p><b>Mark Zuckerbird</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Have 20 Followers</p>
            <p class="aviary-achieve"><i>"20 follows isn't cool, you know what's cool? A billion followers!"</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Have 20 Followers</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.following.count >= 1 %>
        <div class="aviary-card-body">
          <%= image_tag('swanconnery.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.following.count >= 1 %>
            <div class="ribbon left-ribbon">
              <strong class="ribbon-content"><p><b>Swan Connery</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Follow 1 Person</p>
            <p class="aviary-achieve"><i>"The name's Bird, James Bird."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Follow 1 Person</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.following.count >= 5 %>
        <div class="aviary-card-body">
          <%= image_tag('raidersofthelostlark.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.following.count >= 5 %>
            <div class="ribbon left-ribbon">
              <strong class="ribbon-content"><p><b>Heron-son Ford</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Follow 5 People</p>
            <p class="aviary-achieve"><i>"TWEETS! Why did it have to be tweets!"</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Follow 5 People</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.following.count >= 20 %>
        <div class="aviary-card-body">
          <%= image_tag('stephensqauwking.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.following.count >= 20 %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>Stephen Squawking</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Follow 20 People</p>
            <p class="aviary-achieve"><i>"You are connected like the neurons of the brain."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Follow 20 People</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="aviary-card">
      <% if current_user.bio != "" && current_user.country_name != "" && current_user.twitter != "" && current_user.handle != "" %>
        <div class="aviary-card-body">
          <%= image_tag('jkowling.png', class: "aviary-image") %>
        </div>
      <% else %>
        <div class="aviary-card-body locked">
          <%= image_tag('locked_sayer.png', class: "aviary-image") %>
        </div>
      <% end %>
      <div class="aviary-card-footer">
        <div class="aviary-card-info">
          <% if current_user.bio != "" && current_user.country_name != "" && current_user.twitter != "" && current_user.handle != "" %>
            <div class="ribbon">
              <strong class="ribbon-content"><p><b>J.K. Owl-ing</b></p></strong>
            </div>
            <br>
            <br>
            <p class="aviary-achieve">Complete Profile</p>
            <p class="aviary-achieve"><i>"You're a parrot, Harry."</i></p>
          <% else %>
            <p class="aviary-locked"><b>Locked</b></p>
            <p class="aviary-achieve">Complete Profile</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
